<ion-card>
    <ion-card-header>
      <ion-card-title>{{currentDisplayConnection.to}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
          <ion-row>
              <ion-col>16:25</ion-col>
              <ion-col>S14</ion-col>
              <ion-col>33</ion-col>
              <ion-col>Hinwil</ion-col>
              <ion-col>16:45</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>16:25</ion-col>
            <ion-col>S14</ion-col>
            <ion-col>33</ion-col>
            <ion-col>Hinwil</ion-col>
            <ion-col>16:45</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>16:25</ion-col>
            <ion-col>S14</ion-col>
            <ion-col>33</ion-col>
            <ion-col>Hinwil</ion-col>
            <ion-col>16:45</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>